<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
		<div> {{ post['blog_title'] }}</div>
		<div> {{ post['synopsis'] }} </div>
		<div>{{post['created_at']}}</div>
		<div id='blogContent'>{{post['blog_post']}}</div>

		<a href="">Edit</a> 
		<a href="{{url_for('.listBlogPosts')}}">Return to Blog Posts</a>
</body>
<script>

const text = document.querySelector('#blogContent')
const textObject = JSON.parse(text.textContent).ops[0].insert
text.textContent = textObject
</script>
</html>
